* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 1000px;
}

nav {
  margin: auto;
  height: 75px;
  display: flex;
  margin-bottom: 100px;
  /* margin-top: 40px; */
  /* border-bottom: 2px solid black; */
  /* position: fixed;
  left: 0;
  right: 0; */
}
/* header {
  position: sticky;
  top: 0;
  background-color: white;
} */
nav a {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 15px;
  margin: auto;
  padding: 10px;
  border: 4px rgb(99, 3, 99) solid;
  /* text-shadow: 4px 4px 4px rgb(46, 46, 46); */
}
nav a:hover {
  background-color: #d980fa;
  padding: 15px;
  font-size: 1.8rem;
}
.top {
  border-radius: 15px;
  border: 3px solid black;
  padding: 20px;
  text-align: left;
  /* display: flex; */
  margin: auto;
  min-width: 200px;
  width: 90%;
  min-height: 200px;
  box-shadow: 6px 6px 6px rgb(43, 34, 34);
  margin-top: 85px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2rXESVJMMKNK7EuXvbsfEtU3yVqpAFNecu2MZo5hdgMQ7cGzdRTuJr7C0-OHcUw6Uyoc&usqp=CAU");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 2px 2px 2px white;
}
.toptext {
  margin: 20px;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  text-shadow: 4px 3px 3px rgb(101, 105, 92);
}

.toptext::first-letter {
  background-color: #fff;
  font-size: 1.4rem;
}
.container {
  margin-top: 50px;
  min-width: 90%;
  min-height: 400px;
  display: flex;
  margin: auto;
  margin-top: 100px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.div {
  margin-top: 50px;
  border-radius: 20px;
  margin: 20px;
  background-color: yellow;
  width: 250px;
  height: 400px;
  box-shadow: 8px 8px 8px rgb(43, 34, 34);
}
.div img {
  margin: auto;
  display: flex;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-top: 30px;
}
.div img:hover {
  border: 4px rgb(99, 3, 99) solid;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.div p {
  margin-top: 50px;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 4px 4px 4px rgb(101, 105, 92);
  font-weight: bold;
  margin-bottom: 50px;
}
.div button {
  font-size: 1.6;
  display: flex;
  margin: auto;
  border-radius: 20px;
}

.div a {
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 15px;
  margin: auto;
  padding: 10px;
  text-shadow: 2px 3px 3px rgb(173, 245, 4);
}
.div a:hover {
  font-size: 1.6rem;
  border: 4px cyan solid;
}
.item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/5.jpg");
}
footer {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  align-items: center;
  justify-content: space-around;
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #4568dc, #b06ab3);
  background: linear-gradient(to right, #4568dc, #b06ab3);
  font-size: 2rem;
  text-shadow: 6px 6px 6px rgb(32, 31, 31);
}
footer span {
  font-size: 1.4rem;
  vertical-align: middle;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  color: black;
}
/* footer span,i:hover{
color: #12c2e9;
} */

footer span a {
  color: black;
  text-decoration: none;
  
}
footer span a:hover {
  color: #12c2e9;
}
.foot{
  width: 40%;
}
.fab:hover{
  color: #12c2e9;
}
@media only screen and (max-width: 280px) {
  nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
  }
}
