* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 1000px;
}

nav {
  margin-top: 50px;
  height: 75px;
  /* border-bottom: 2px solid black; */
  display: flex;
  margin-bottom: 100px;
}
nav a {
  position: sticky;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 15px;
  margin: auto;
  padding: 10px;
  border: 4px cyan solid;
  text-shadow: 2px 3px 3px rgb(173, 245, 4);
}
nav a:hover {
  background-color: rgb(238, 255, 0);
  padding: 15px;
  font-size: 1.8rem;
}