* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 1000px;
}

nav {
  margin: auto;
  height: 75px;
  display: flex;
  margin-bottom: 100px;
  /* margin-top: 40px; */
  /* border-bottom: 2px solid black; */
  /* position: fixed;
  left: 0;
  right: 0; */
}
/* header {
  position: sticky;
  top: 0;
  background-color: white;
} */
nav a {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 15px;
  margin: auto;
  padding: 10px;
  border: 4px rgb(99, 3, 99) solid;
  /* text-shadow: 4px 4px 4px rgb(46, 46, 46); */
}
nav a:hover {
  background-color: #d980fa;
  padding: 15px;
  font-size: 1.8rem;
}
.container {
  min-width: 90%;
  min-height: 400px;
  display: flex;
  margin: auto;
  margin-top: 100px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.div {
  border-radius: 20px;
  margin: 20px;
  background-color: yellow;
  width: 300px;
  height: 460px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.div img {
  margin: auto;
  display: flex;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-top: 40px;
}
.div img:hover {
  border: 4px solid rgb(78, 247, 0);
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.div p {
  color: white;
  margin-top: 180px;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 4px 4px 4px rgb(101, 105, 92);
  font-weight: bold;
  margin-bottom: 50px;
}
.div button {
  font-size: 1.6;
  display: flex;
  margin: auto;
  border-radius: 20px;
}

.div a {
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 15px;
  margin: auto;
  padding: 10px;
  text-shadow: 2px 3px 3px rgb(173, 245, 4);
}
.div a:hover {
  font-size: 1.6rem;
  border: 4px cyan solid;
}
.item1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPTWWuOu4fM_q1dYfbURmE-nJlpyOU_YYL6g&usqp=CAU");
}
.item2 {
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/991/230/original/neon-photo-camera-sign-photostudio-neon-banner-luminous-signboard-camera-night-advertisement-neon-cam-pink-neon-light-on-dark-purple-background-illustration-eps10-vector.jpg");
}
.item3 {
  background-image: url("https://media.istockphoto.com/vectors/english-neon-label-vector-id1159605947?k=20&m=1159605947&s=170667a&w=0&h=eWQ6n2M3qKmgwiiy8S7DGIRSzeKZI_dQEG_jkzboyYQ=");
}
.item4 {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/158/570/non_2x/feedback-neon-icon-elements-of-education-set-simple-icon-for-websites-web-design-mobile-app-info-graphics-isolated-on-brick-wall-vector.jpg");
}

.table {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 70%;
}

table,
td,
th {
  border: 3px solid blue;
}
tr {
  height: 35px;
}
table {
  width: 90%;
}
.table-tb {
  margin-top: 60px;
  border-radius: 15px;
}
table:hover {
  border: 5px solid rgb(255, 0, 0);
}

.table-th {
  border: none;
}
footer {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  align-items: center;
  justify-content: space-around;
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #4568dc, #b06ab3);
  background: linear-gradient(to right, #4568dc, #b06ab3);
  font-size: 2rem;
  text-shadow: 6px 6px 6px rgb(32, 31, 31);
}
footer span {
  font-size: 1rem;
  vertical-align: middle;
}
footer span a {
  color: black;
  text-decoration: none;
}
footer span a:hover {
  color: #12c2e9;
}
@media only screen and (max-width: 400px) {
  nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
  }
}
